
.controls-parent {
    position: absolute;
    top: 32%;
    left: 6%;
}

.power-btn.end {
    margin-top: 4%;
    width: 3rem;
    height: 3rem;
    background: #ddd9dc;
    border-radius: 100%;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    border: 0.5px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
};

.power-container {
    position: absolute;
    top: 13rem;
    left: 3rem;
    width: 8rem;
    height: 3.8rem;
    background: #615297;
    z-index: 6;
    border-radius: 30px;
    transform: rotate(30deg);
    border: 0.5px solid black;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
};

.pad  {
    position: absolute;
    /* margin-left: 10rem; */
    z-index: 6;
}

.power-container {
    position: absolute;
    top: 19rem;
    left: 1rem;
    width: 8rem;
    height: 3.8rem;
    background: #615297;
    z-index: 6;
    border-radius: 30px;
    transform: rotate(30deg);
    border: 0.5px solid black;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

#start-game.active:hover {
    cursor: pointer;
    background: lightgray;
} 

#start-game.active {
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} 

.vert {
    position: absolute;
    left: 1.8rem;
    width: 2.75rem;
    height: 8rem;
    background: #ddd9dc;
    border-radius: 5px;
    z-index: 6;
}

.power-btn.end:hover {
    cursor: pointer;
    background: lightgray;
}; 

.vert::before {
    content: "";
    position: relative;
    top: 1.1rem;
    left: 1.8rem;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2d302e;
}


#horiz {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



#horiz {
    position: absolute;
    left: 1.8rem;
    width: 2.75rem;
    height: 8rem;
    background: #ddd9dc;
    border-radius: 5px;
    z-index: 6;
}

.thing {
    background-color: #c0c0be;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    top: 2.7rem;
    left: 1.95rem;
    position: absolute;
    z-index: 7;
}

#a-btn {
    position: absolute;
    color: #c0c0be;
    font-size: 1.75em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 3.2rem;
    left: 0.1rem;
    z-index: 7;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#d-btn {
    position: absolute;
    color: #c0c0be;
    font-size: 1.75em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 5rem;
    top: 3.2rem;
    z-index: 7;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#sp-btn {
    position: absolute;
    color: #c0c0be;
    font-size: 1.60em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 2.15rem;
    top: 6rem;
    z-index: 7;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.start-btn {
    position: absolute;
    top: 13rem;
    left: 1rem;
    width: 8rem;
    height: 3.8rem;
    background: #615297;
    z-index: 6;
    border-radius: 30px;
    transform: rotate(30deg);
    border: 0.5px solid black;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

.start-btn p {
    color: #2d302e;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 5%;
    padding-top: 17%;
    text-shadow:
		-.25px -.25px 0 #000,
		0.25px -.25px 0 #000,
		-.25px 0.25px 0 #000,
		0.25px 0.25px 0 #000;
}

.power-btn {
    margin-top: 4%;
    width: 3rem;
    height: 3rem;
    background: #ddd9dc;
    border-radius: 100%;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    border: 0.5px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
};

#start-game {
    margin-top: 4%;
    width: 3rem;
    height: 3rem;
    background: #ddd9dc;
    border-radius: 100%;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    border: 0.5px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

#start-game {
    margin-top: 4%;
    width: 3rem;
    height: 3rem;
    background: #ddd9dc;
    border-radius: 100%;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    border: 0.5px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

#power {
    color: #2d302e;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 5%;
    padding-top: 17%;
    text-shadow:
		-.25px -.25px 0 #000,
		0.25px -.25px 0 #000,
		-.25px 0.25px 0 #000,
		0.25px 0.25px 0 #000;
};
